.hero{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title{
    color: $secondary-color;
    font-size: 5em;
    margin-bottom: 40px;
    letter-spacing: 10px;
    font-weight: $bold-weight;
  }
  .button{
    justify-self: start;
    align-self: flex-start;
    margin-left: -50%;
  }
}

@media all and (max-width: $tablet-breakpoint){
  .hero {
    .title{
      font-size: 3em;
    }
    .button{
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
}