.products{
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  .product{
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    
    &:nth-of-type(even){
      direction: rtl;
      .product-info{
        .product-text > span:first-child{
          text-align: left;
          margin-left: 11px;
          margin-right: 13px;
        }

        .product-button{
          margin-right: 13%;
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }

    .product-info{
      flex-basis: 30%;

      
    }

    .product-img{
      img{
        width: 500px;
      }
    }
  }


  .product-button{
    color: #000;
    position: relative;
    border: none;
    margin-left: 13%;
    // margin-top: 14px;
    span:last-child{
      color: $secondary-color;
      padding: 0 5px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 100%;
      left: 20%;
      width: 20%;
      height: 2px;
      background: $secondary-color;
    }
  }
}



// Videos
.videos{
  
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;;

  .title{
    text-transform: uppercase;
    font-size: 40px;
    margin: 50px auto 30px;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background: $secondary-color;
      top: calc(100% + 10px);
      left: calc(50% - 20px);
    }
  }

   .videos-info{
      margin-top: 45px;
      margin-bottom: 30px;
    }

  .videos-wrapper{
    display: flex;
    justify-content: center;

    .video-player{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ddd;
      margin: 40px 20px;
      position: relative;

      &:after{
        content: "";
        position: absolute;
        top: 100%;
        left: calc(50% - 20px);
        width: 40px;
        height: 1px;
        margin-top: 20px;
        background: $secondary-color;
      }

      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 7px;
        box-shadow: none;
      }

      .play-video{
        position: absolute;
        width: 60px;
        height: 60px;
        background: transparent;
        border: 2px solid #ddd;
        
        border-radius: 50%;
        cursor: pointer;
        outline: none;

        .play-button{
          position: absolute;
          left: calc(50% - 12px);
          top: calc(50% - 18px);
          border-left-color: $secondary-color;
        }
      }
      
    }

    .video-info{
      font-weight: $bold-weight;
    }
  }
}



@media all and (max-width: $desktop-breakpoint){
  .products{
    .product {
      flex-direction: column-reverse;
      text-align: center;
      .line{
        display: none !important;
      }
      p{
        padding: 10px 20px;
      }
      .product-button{
        margin-left: 0;
      }
      &:nth-of-type(even){
        direction: ltr;
        .product-info .product-button{
          flex-direction: row;
        }
      }
    }
  }

     .videos-info{
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
}

@media all and (max-width: $tablet-breakpoint){
  .videos{
    .videos-wrapper{
      flex-direction: column;
      align-items: center;
    }
  }
}