html{
  scroll-behavior: smooth;
}

*::selection{
  color: #fff;
  background-color: $main-color;
}

body{
  font-family: Arial, $main-font;
}

section:not(.hero){
  padding-top: 50px;
  padding-bottom: 50px;
  scroll-behavior: smooth;
}


.logo{
    letter-spacing: 3px;
    flex-basis: 28%;
    padding-top: 12px; 
    padding-bottom: 12px; 
    span{
      position: relative;

      &:after{
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 6px;
        left: -2px;
        background: $secondary-color;
        top: calc(50% - 3px)
      }
    }
  }

.button{
  display: flex;
    justify-content: center;
    align-items: center;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 40px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: $bold-weight;
  transition: all 0.4s ease-in-out;
  letter-spacing: 2px;
  &:hover{
    color: #202020;
    background: #fff;
  }
}
.play-button{
  display: inline-block;
  width: 0;
  height: 0;
  border: none;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 35px solid #202020;
  background: transparent;
}
img{
  box-shadow: 2px 2px 5px 2px rgba(32,32,32,0.2),
  -2px -2px 5px 2px rgba(32,32,32,0.2);
  transition: box-shadow 0.4s ease-in-out;

  &:hover{
    box-shadow: 1px 1px 5px 2px rgba(32,32,32,0.1),
  -1px -1px 5px 2px rgba(32,32,32,0.1);
  }
}

.bordered{
  border: 1px solid $secondary-color;
}

.item-title{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    span:first-of-type{
      flex: 1;
      height: 2px;
      position: relative;
      top: -4px;
      background: #202020;
    }
    span:last-of-type{
      flex: 4;
      margin-left: 10px;
      padding-right: 6px;

    }
  }

.with-line{
  display: flex;
  align-items: baseline;
  > span:first-child{
    flex: 1;
    text-align: right;
    margin-left: 17px;
    margin-right: 13px;
    i{
      width: 50%;
      height: 4px;
      background: $secondary-color;
      display: inline-block;
      margin-bottom: 4px;
    }
  }
  > span:last-child{
    flex: 5;
    padding-bottom: 20px;
  }
}


.modal{
  position: fixed;
  z-index: 999999;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  height: 0;
  width: 80%;
  margin: auto;
  padding-top: 56.25%; //16:9
   box-shadow: 0 0px 2px 1px rgba(140, 140, 140, 0.2), 0px 0px 0px 1px rgba(140, 140, 140, 0.2);
  transition: box-shadow 0.4s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;

  &.active{
    display: flex;
  }

  .modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.8);
  }

  .close{
    position: absolute;
    right: 0;
    top: 60px;
    background: rgba(0,0,0,0.4);
    border: 1px solid #ccc;
    padding: 5px 12px;
    font-size: 29px;
    color: #fff;

    &:hover{
      background: rgba(255,255,255,0.4)
    }
  }

  video, iframe {
    position: absolute;
    top: 100px;
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    margin: auto;
  }


}


@media all and (max-width: $desktop-breakpoint){
  .line{
    display: none !important;
  }
  .with-line {
    > span:first-of-type, .line{
      display: none;
    }
     > span:last-child {
       max-width: 500px;
     }
  }
  .item-title span:last-of-type{
    padding-top: 25px;
  }
  .modal{
    .close{
      padding: 5px 12px;
      font-size: 1.2em;
    }
  }
}

@media all and (max-width: $tablet-breakpoint){
  .modal .close {
    top: -40px;
  }
  .modal video, .modal iframe{ top: 0}
}

