// colors
$main-color: #000;
$secondary-color: #bea67c;

// main font-families
$main-font: 'Nunito', sans-serif;

// font-weight
$thin-weight: 100;
$normal-weight: 400;
$bold-weight: 600;

// responsive breakpoints
$tablet-breakpoint: '768px';
$desktop-breakpoint: '991px';